.frame {
	display: inline-block;
	position: relative;
	z-index:1;
}
.frame:after {
	position: absolute;
	content: "";
	-webkit-box-shadow: 0 8px 10px rgba(0,0,0, .5); /* シャドウ */
	-webkit-transform: rotate(3deg); /* 回転させる */
	right: 5px;
	left: auto;
	top: auto;
	bottom: 15px;
	z-index:-1;
	width: 80%;
	height: 20%;
}
